@charset "utf-8";

/* HTML and Body styles*/

html {
	font-family: sans-serif;
 }
 
body {
	background-image: url(image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	box-shadow: rgb(51, 51, 51) 20px 0px 40px,  rgb(51, 51, 51) -20px 0px 40px,
				inset rgb(51, 21, 21) 0px 0px 40px;
	border-left: 3px solid rgb(51, 51, 51);
	border-right: 3px solid rgb(51, 51, 51);
	min-height: 100%;  
	margin: 0px auto;
	min-width: 320px;
	max-width: 1020px;  
	width: 100%;
 }
 

/* Header styles */

header {
	background-color: rgba(20, 247, 216, 0.733);
    color: rebeccapurple;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    height: 150px;
    width:  1000px;
}

main{
    background-color: rgba(2, 31, 14, 0.63);
    height:50px;
    font-size: 18px;
    padding-top: 20px;
    padding-left:10px;
    width:1000px;
    text-align: center ;   
}
 
header img {
    float: left;
}

/* Navigation list styles */

a {
    color:rgb(21, 212, 212);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 25px;
    padding-right: 25px;
}

/*div*/

p {
	color: darkcyan;
    word-wrap: break-word;
}

section{
	padding-left: 60px;
	background-color: honeydew;
	text-align: center;
}

.column {
	float: left;
	width: 400px;
	margin: 16px;
	padding: 0 8px;

}
.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	margin: 16px;
}

.container {
	padding: 0 10px;
}


.container::after, .row::after { 
	content: "";
	clear: both;
	display: table;
}



@media screen and (max-width: 650px) {
	.column {
	  width: 100%;
	  display: block;
	}
}


/*Footer*/

footer {
    background-color:rgba(20, 247, 216, 0.733);
    text-align: center;
    font-size: 2em;
    height:80px;
    width: 1000px;
}
.f a{
	color:white;
}